.navabar {
  width: 100%;
  height: 70px;
  position: fixed;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  background-color: #555;
  z-index: 5;
}
.navLogo {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: white;
  padding-left: 10px;
}
.navabar input {
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  width: 70%;
  border: none;
  height: 70%;
  padding-left: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 600;
}
